.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;

    background-color: #91A0B6;
}

.navbar-left {
    padding-left: 0.5rem;
}

.logo {
    height: 55px;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
}

.icon-user {
    width: 27px;
    padding-right: 1rem;
}

.icon-cart {
    width: 35px;
}

.logo-container a {
    text-decoration: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #2B303A;
}

.logo-img {
    height: 10rem;
    margin: 0;
    cursor: pointer;
    padding: 0.1em;

    /* color generate via: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(67%) sepia(34%) saturate(4865%) hue-rotate(349deg) brightness(97%) contrast(92%);
}