.header-container a {
    text-decoration: none;
}

.header-title:hover {

}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #2B303A;
}

.header-title {
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    margin: 0;
    cursor: pointer;
    padding: 0.1em;
    color: #ED851D;
}