.homepage-info {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.homepage-info-img {
    object-fit: cover;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}