* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;

    background-color: #DADDE7;
}

.test-container {
    width: 100vw;
    height: 20rem;

    background-image: url("../img/header-background-cars.jpg");
    background-size: cover;
}

.test-title {
    font-size: 48px;
}