.list-products-container {
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.list-product-container {
    position: relative;
    width: 30rem;
    margin: 1rem;
    overflow: hidden;
    z-index: 2;

    border-radius: 7px 7px 7px 7px;
    /* generated via CSS MATIC: https://goo.gl/cIbnS */
    -webkit-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
}

.list-product-image {
    object-fit: cover;
    object-position: top;
    width: 100%;
    opacity: 85%;
    scale: 1.02;
    transition: transform 0.6s, opacity 0.3s ease-in-out;
}

.list-product-container:hover .list-product-image {
    opacity: 100%;
    transform: scale(1.05);
}

.list-product-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    font-size: 2.2rem;
    background-color: #2B303A;
    color: #F4D8A4;
    z-index: 1;
}

.list-product-price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #2B303A;
    color: #F4D8A4;
    z-index: 1;
}

.list-product-container a {
    text-decoration: none;
    color: black;
}