.products-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-container {
    width: 30rem;
    margin: 1rem;
}

.product-image {
    width: 100%;
}

.product-container a {
    text-decoration: none;
}