.product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.product-container {
    margin: 3rem 3rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    overflow: hidden;
    position: relative;

    border-radius: 7px 7px 7px 7px;
    /* generated via CSS MATIC: https://goo.gl/cIbnS */
    -webkit-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
}

.product-image-container {
    width: 100%;
    overflow: hidden;
    border-right: 0.3rem solid #91A0B6;
}

.product-image {
    display: block;
    object-fit: cover;
    width: 100%;
}

.product-info {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.product-text {
    padding: 0.5rem 1rem;
    max-width: 100%
}

.product-title {
    font-size: min(8vw, 3rem);
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.product-category {
    font-size: min(6vw, 2rem);
    font-weight: 500;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.product-description {
    font-size: min(5vw, 1.5rem);
}

.product-cart-info {
    display: flex;
    align-items: center;
}

.product-quantity {
    display: flex;
    padding-left: 2.5rem;
}

.product-quantity label {
    align-self: center;
    justify-self: center;
}

/* Hide default arrows */
/* Chrome, Safari, Edge, Opera */
.product-quantity input::-webkit-outer-spin-button,
.product-quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.product-quantity input[type=number] {
    -moz-appearance: textfield;
}

.product-quantity input {
    max-width: 1.5rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    outline: none;
    border: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.1s ease-in-out;
}

.product-quantity input:hover {
    border: 0.1rem solid #91A0B6;
}

.product-quantity input:focus {
    border: 0.15rem solid #91A0B6;
}

.product-price-btn {
    align-self: end;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1.5rem 1rem;
    width: 100%;
    max-width: 30rem;
}

.product-price-btn button {
    margin: 0 1rem;
    padding: 0.75rem;
    font-size: min(4vw, 1.2rem);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    outline: none;
    border: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.1s ease-in-out;
}

.product-price {
    padding: 1rem;
    font-size: min(6vw, 2rem);
}

@media (max-width: 920px) {
    /* styles for smaller than 920px; */
    .product-container {
        flex-direction: column;
    }

    .product-image-container {
        border-right: none;
        border-bottom: 0.3rem solid #91A0B6;
    }

    .product-image {
        max-height: 28rem;
    }

    .product-info {
        min-height: 20rem;
    }

    .product-price-btn {
        padding: 0;
        margin: 1rem 0;
    }
}