.product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.product-container {
    margin: 3rem 3rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    overflow: hidden;
    position: relative;

    border-radius: 7px 7px 7px 7px;
    /* generated via CSS MATIC: https://goo.gl/cIbnS */
    -webkit-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
}

.product-image-container {
    padding-right: 0.5rem;
}

.product-image {
    object-fit: cover;
    object-position: top;
    width: 100%;
    scale: 1.02;
    border-radius: 7px 0 0 7px;
}

.product-info {
    width: 100%;
    max-width: 30rem;
    padding: 0.5rem;
}

.product-title {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.product-price-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1.5rem 0.5rem;
    width: 100%;
    max-width: 30rem;
}

.product-btn {
    margin: 0 1rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    outline: none;
    border: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
}

.product-price {
    padding: 1rem;
    font-size: 2rem;
}

@media (max-width: 820px) {
    /* styles for smaller than 820px; */
    .product-container {
        flex-direction: column;
    }

    .product-image-container {
        padding-right: 0;
    }

    .product-image {
        max-width: 25rem;
    }

    .product-text {
        padding: 0.5rem;
    }

    .product-info {
        padding: 0;
        min-height: 20rem;
    }
}