.product-container {
    width: 75%;
    height: 40rem;
    margin: 3rem auto;

    border-radius: 7px 7px 7px 7px;
    /* generated via CSS MATIC: https://goo.gl/cIbnS */
    -webkit-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
}

.product-left-container {
    padding-right: 2rem;
    padding-left: 2rem;
}

.product-title {
    font-size: 3rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.product-image-container {
    float: left;
    height: 100%;
}

.product-image {
    object-fit: cover;
    height: 100%;
    border-radius: 7px 0 0 7px;
}

.product-price-btn {
    display: flex;
    align-self: center;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

@media (max-width: 1060px) {
    /* styles for smaller than 977px; */
    .product-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-price-btn {
        padding-top: 1.5rem;
    }
}